#selectBox {
    width: 120px;
    position: absolute;
    right: 0;
    top: 0;
}

#h1 {
    font-size: 12rem
}

.container {
    margin-top: 18vh;
    text-align: center
}

@media only screen and (max-width: 920px) {
    #h1 {
        font-size: 8rem
    }
}

@media only screen and (max-width: 780px) {
    #h1 {
        font-size: 6rem
    }
}

@media only screen and (max-width: 417px) {
    #h1 {
        font-size: 3rem
    }
}

@media only screen and (max-width: 390px) {
    #h1 {
        font-size: 2rem
    }

    #h2 {
        font-size: 1rem;
    }
}