[data-theme=light],
:root:not([data-theme=dark]) {
  --pico-primary-background: #ffffff;
}

@media only screen and (prefers-color-scheme: dark) {
  :root:not([data-theme]) {
    --pico-primary-background: #000000;
  }
}

body{
    overflow: hidden;
}

.group {
    width: 13rem;
    position: absolute;
    right: 0;
    top: 0;
    transition: transform 1s !important;
    transition-timing-function: inherit;
}

#box{
    width: 11%;
    background-color: var(--pico-form-element-background-color);
    border: var(--pico-border-width) solid var(--pico-form-element-border-color);
}

#selectBox:focus {
    border: var(--pico-border-width) solid var(--pico-form-element-border-color);
}

svg{
    cursor: pointer;
}

#h1 {
    font-size: 12rem
}

.container {
    margin-top: 18vh;
    text-align: center;
}

#share{
    width: 60px;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
}

h6{
    color: #f9f9f9;
    width: 200px;
    background-color: #151515;
    text-align: center;
    border-radius: 1rem;
    padding-bottom: 6px;
    position: absolute;
    bottom: 1px;
    
}

.scroll {
    overflow-y: scroll;
}

.list {
    display:flex;
    justify-content:center;
}

ul {
    text-align: start;
}

.p-0 {
    padding:0;
}

.mb-5 {
    margin-bottom: 5rem;
}

@media only screen and (max-width: 1050px) {
    #h1 {
        font-size: 8rem
    }
    #share{
        width: 50px;
    }
}

@media only screen and (max-width: 780px) {
    #h1 {
        font-size: 6rem
    }
    #share{
        width: 40px;
    }
}

@media only screen and (max-width: 417px) {
    #h1 {
        font-size: 4rem
    }
    #share{
        width: 30px;
    }
}

@media only screen and (max-width: 390px) {
    #h1 {
        font-size: 3rem
    }
    #h2 {
        font-size: 1.5rem;
    }
}

@media only screen and (max-width: 280px) {
    #h1 {
        font-size: 2rem
    }
    #h2 {
        font-size: 1rem;
    }
}


